/* 
    Document   : estilos
    Created on : 05-16-2013, 09:47:27 PM
    Author     : Heber
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    background-color: #003366;
    font-family: "Trebuchet MS";
}

